body {
    font-family:Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size:1.3em;
    text-align:center;
}

h1 {
    font-size:3em;
    text-shadow:2px 4px 3px rgba(0,0,0,0.3);
    margin:0 0 5px 0;
}
a {
    text-decoration:none;
    color:#6666CC;
}
img {
    max-width: 50%;
}

a:hover {
    text-decoration:underline;
}
