html {
  height: 100%;
}

body {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.3em;
  text-align: center;
  background: #dddddd;
  color: #333333;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 4em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin: 0 0 5px 0;
}
h2 {
  font-size: 2em;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
  margin-top: 40px;
}
p {
  margin: 0 auto 1em;
  max-width: 50ch;
  text-align: left;
}

article {
  margin-bottom: 1em;
}

ul.previous {
  list-style: none;
}

.previous li {
  display: inline-block;
  width: 6ch;
  border-left: 1px solid #9999cc;
  border-right: 1px solid #9999cc;
  margin-left: -1px;
}

a {
  text-decoration: none;
  color: #6666CC;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #333333;
  color:#eeeeee;
}
footer p {
  padding: 15px 10px 0;
  text-align: center;
}
footer a {
  color: #aaaaff;
}
.facebook {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.facebook svg {
p  width: 32px;
  height: 32px;
  background: #3A5795;
  fill: #fff;
          border-radius: 4px; /* future proofing */
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
   -khtml-border-radius: 4px; /* for old Konqueror browsers */
  border: 1px solid transparent;
}
.facebook svg:hover {
  fill: #eeeeee;
  border-color: #ffffff;
}

#mc_embed_signup{
}

/* real people should not fill this in and expect good things - do not
   remove this or risk form bot signups */
#mc_embed_signup div {
  position: absolute;
  left: -5000px;
}




@media only screen and (max-width: 600px) {
  #map {
    height: 300px;
  }
  h1 {
    font-size: 3em;
  }
}
