body {
  margin: 0;
  background: #333333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

main {
  background: #b9def7;
}

header, article {
  margin: 2em;
}

a:hover {
  text-decoration: none;
}

header {
  background: #ffffff;
  text-align: center;
  color: #783e3f;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
header h1 {
  margin: 0;
  line-height: 0.7em;
  font-size: 5em;
}
header p {
  font-size: 1.5em;
}
.presents {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  margin: 1.5em 0 0;
}
.author {
  color: #2c4659;
  margin: 0 0 1.5em;
}

hr {
  background: url(../img/rails.png) repeat-x left bottom;
  height: 132px;
  border: none;
  left: 0
}
hr::before {
  content: '';
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  margin: 0 5%;
}
hr.stopper--left::before {
  background-image: url(../img/stopper-left.png);
  background-position: left;
}
hr.stopper--right::before {
  background-image: url(../img/stopper-right.png);
  background-position: right;
}


/*
 * Source: http://www.cssportal.com/blog/create-inverted-corner-border-radius/
 */
.corners {
  background: #ffffff;
  position: relative;
  overflow: hidden;
}
.corners__content {
  border: 3px solid #2c4659;
  margin: 0;
}
.corners__above, .corners__bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.corners__top::before, .corners__top::after,
.corners__bottom::before, .corners__bottom::after {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  background: #b9def7;
  border-radius: 50%;
  border: 3px solid #2c4659;
}
.corners__top::before {
  bottom: -1em;
  left: -1em;
}
.corners__top::after {
  bottom: -1em;
  right: -1em;
}
.corners__bottom::before {
  top: -1em;
  left: -1em;
}
.corners__bottom::after {
  top: -1em;
  right: -1em;
}

main {
  font-size: 1.5em;
  overflow: auto;
}
article h1, article h2, article h3 {
  color: #2c4659;
}


blockquote::before {
  font-family: Georgia, Times, Times New Roman, serif;
  content: open-quote;
  font-size: 3em;
  display: inline-block;
  margin-left: -1em;
  vertical-align: top;
  color: #2c4659;
}
blockquote p {
  display: inline-block;
}

#location h2::after {
  content: "nieuw";
  color: #d64835;
  background: #deedf7;
  padding: 0.1em 0.3em;
  margin-left: 0.5em;
  transform: rotate(7deg);
  display: inline-block;
  border: 0.1em solid #d64835;
          border-radius: 0.4em; /* future proofing */
     -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
   -khtml-border-radius: 0.4em; /* for old Konqueror browsers */

}

address ul {
  list-style: none;
  padding-left: 0;
}

#map-frame {
  width: 100%;
  height: 50vw;
  max-height: 15em;
  min-height: 10em;
  margin: 0;
  border: 1px solid #2c4659;
}

#map-link {
  font-size: 0.8em;
  margin-top: 0.2em;
}

#affiche {
  margin: 2em 0;
}
#affiche a {
  border: 1px solid #2c4659;
  display: inline-block;
}
#affiche a img {
  display: block;
}

#affiche a:hover {
  border-color: transparent;
}


footer {
  background: #333333;
  color:#eeeeee;
}
footer section {
  padding: 1em;
}
footer p {
  margin: 0;
  display: inline-block;
}
footer a {
  color: #aaaaff;
}
.facebook {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.facebook svg {
p  width: 32px;
  height: 32px;
  background: #3A5795;
  fill: #fff;
          border-radius: 4px; /* future proofing */
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
   -khtml-border-radius: 4px; /* for old Konqueror browsers */
  border: 1px solid transparent;
}
.facebook svg:hover {
  fill: #eeeeee;
  border-color: #ffffff;
}
